.calendar-header {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.calendar-header h1,
h3 {
  display: inline-block;
  margin: 0.25rem;
}

.calendar-nav button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.125rem;
}
