.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: clamp(45rem, 70vw, 80rem);
  }
  
  .calendar-row {
    width: 100%;
    flex-direction: row;
  }
  
  .calendar-cell {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.375rem;
    border-left: 1px solid #bababa;
    border-top: 1px solid #bababa;
    width: 100%;
    height: clamp(7rem, 10vw, 10rem);
  }
  
  .day {
    color: #bababa;
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  .calendar-cell:nth-child(7n + 1) {
    border-left: none;
  }
  
  .calendar-cell:nth-child(-n + 7) {
    border-top: none;
    height: 1.5rem;
  }
  
  .calendar-cell:nth-child(-n + 14) {
    border-top: none;
  }
  